

form {
    width: 350px;
    text-align: center;
}

.consulta {
    text-align: center;
}

.consulta textarea {
    width: 100%;
}


button[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #444;
    margin-top: 10px;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: rgb(187, 61, 61);
    font-size: 20px;
    margin-top: 5px;
    padding-top: 20px;
}

input:invalid{
    border: 1px dashed rgb(187, 61, 61);
}

input:valid{
    border: 1px solid;
} 