#idheader {
    background-color: #afeeee; /* Cambia el color de fondo según tus preferencias */
    color: #fff;
    padding: 20px; /* Añade espacio alrededor del contenido */
    text-align: center; /* Centra el texto */
}

#nav-bar {
    background-color: #e0ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0; /* Espacio entre los elementos del menú */
}

#nav-bar a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px; /* Tamaño de fuente más grande */
    font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
}

#dark-mode-button {
    background-color: #fcf7f7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#dark-mode-button:hover {
    background-color: #7a7777;
}
#idfooter {
    background-color:  #000000;
    color: white;
    text-align: center;
    padding: 15px;
}

.redsoc {
    display: flex;
    justify-content: center;
    gap: 20px; /* Ajusté el espacio entre los iconos */
}

.redsoc img {
    width: 30px;
    height: 30px;
}

/* modo */
body {
    transition: background-color 2s color 2s;
    font-family:  Arial, sans-serif;
  }
  
.modo-oscuro {
    background-color: #222222 ;
    color: aliceblue
  }