
* {
    margin: 0; padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
body {
    background-color: #000; 
    color: #fff;
  } 

html, body {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.video {
    width: 100%;
    height: 400px;
}

.why-choose-us {
    padding: 20px;
}

.Título {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700; 
    font-size: 28px;
    text-align: center;  
  }
  
  .Párrafo {
      font-family: Georgia;
      font size 16px; 
      text-align: center;
      padding: 5% 10%;
      
  }
  .Beneficios1{
      padding: 1rem;
      list-style: circle;
      display: flex;
      gap: 2rem;
      text-align:inherit;
      margin-right: 30%;
      justify-content: right;
      box-sizing: content-box;
      }


  .B1 {
      width: 50%;
      height: 200px;
      margin-bottom: 10px;
      margin: auto;
      display: block;
      border-radius: 5px;
      transition: all;
  }
  .Beneficios2 {
      list-style: circle;
      padding: 1 rem;
      display: flex;
      gap: 2rem;
      text-align: left ;
      margin-left: 45%;
      justify-content:left ;
      box-sizing: content-box;
      
  }
  .B2 {
    width: 60%;
    height: 180px;
    display: block;
    border-radius: 5px;
}
  .redsoc {
      width: 20 em;
      height: 20 em;
      background-color: none;
  }
.B1:hover {
 -webkit-transform:scale(1.3);
 transform:scale(1.3);}

 .B2:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);}
.B1,.B2 {overflow:hidden;}

