@import url('https://fonts.googleapis.com/css');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap');
* {
    margin: 0; padding: 0;
    font-family: 'Frank Ruhl Libre', serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html, body {
    background-color: #882020; 
    color:#fff9f9;   
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

h1 {
    font-family: 'Frank Ruhl Libre', serif; 
    font-weight: 700; 
    font-size: 28px;
    text-align: center;
    padding: 3% 10%;
}
.foto_inicial {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 10px 0;
}

.video {
    margin: 0 auto;
    width: 70%;
    height: 400px;
    display: block;

}

.why-choose-us {
    padding: 20px;
}
.titulo {
    font-family: 'Frank Ruhl Libre', serif; 
    font-weight: 700; 
    font-size: 28px;
    text-align: center;
}

.párrafo {
    font-family: Georgia;
    font-weight: 600;
    font-size: 16px; 
    text-align: center;
    padding: 5% 10%;
    
}
.beneficios1{
    padding: 1rem;
    list-style: circle;
    display: flex;
    gap: 2rem;
    text-align:inherit;
    margin-right: 30%;
    justify-content: right;
    box-sizing: content-box;
    }


.B1 {
    width: 50%;
    height: 200px;
    margin-bottom: 8px;
    margin: auto;
    display: block;
    border-radius: 5px;
    ;
}
.beneficios2 {
    list-style: circle;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    text-align: left ;
    margin-left: 45%;
    justify-content:left ;
    box-sizing: content-box;
}
.B2 {
    width: 60%;
    height: 180px;
    display: block;
    border-radius: 5px;
}
.redsoc {
      width: 20 em;
      height: 20 em;
      background-color: none;
}







