body {
  background-color: #000; 
  color: #fff;
} 
.Tittle {
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font size 16px; 
  text-align: center;
  padding: 5% 10%;
}

.Nos {
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font size 16px; 
  text-align: center;
  padding:10px 5px
  
}

.Profes {
  box-sizing: border-box;
  justify-content:center;
  display: flex;
  gap: 2rem;
  padding: 10% 10% 10% 10%
  margin: 0 auto;
  max-width: 70rem;
  width: 50%
  
}
.h1 {
  text-align: cente;
}
.comentario-card {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 5px;
    color: #888;
  }
  
  .comentador-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .comentario-text {
    font-size: 16px;
  }
  
  .comentario-timestamp {
    color: #888;
  }
