.comentario-card {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 5px;
  }
  
  .comentador-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .comentario-text {
    font-size: 16px;
  }
  
  .comentario-timestamp {
    color: #888;
  }
