
.cuadro{
    display: flex;
    width: 100%;
    margin: 10px;
    padding:5px ;
    background-color: black;
    color: whitesmoke;
}

.cuadrito {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    border: 2px;
    border-color: aliceblue;
}
.boximg{
    width: 60% ;
    height: auto;
}

/* CSS para agrandar imagenes */
.boximg:hover {
    transform: scale(1.2); /* aumento tamaño */
    transition: transform 0.3s ease; /* transition */
  }