body {
    background-color: #882020; 
    color:#fff9f9;  
}
.header-container h1 {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700; 
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cuadrito {
    background-color: rgb(56, 54, 54);
    color: rgb(248, 245, 245);
    border: 2px solid aliceblue;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    }


.boximg {
    max-width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
.motivational-quote {
    font-size: 30px;
    font-style: italic;
    color: #000000;
    text-align: center;
   
}
